<section id="admissionInfo">
    <div class="admission-info-img">
        <img src="assets/img/placeholder/7.jpg" alt="A teacher explaining a lesson">
    </div>
    <div class="admission-info-body">
        <h3>Admission</h3>
        <p>
            AEMS is a distinguished and leading School in Egypt, the Middle East and Africa (MENA) that aims at offering
            the finest and highest level of education in Information and Communications Technology (ICT). Partnering
            with top ranked international Schools , AEMS contributes to an effective and efficient scientific and
            technological base, capable of innovation, having an international position and pushing the national economy
            to continuous development and progress. As an AEMS graduate you will be prepared and ready to be a highly
            skilled professional in the ICT and will pioneer in distinguished scientific applied research. Applications
            are available through theAbo Elmahasen Sengab Language school (AEMS) website in the Online Admission Section
        </p>
        <a class="btn admission-info-btn" href="#">Read More</a>
    </div>
</section>