<nav id="nav">
    <input type="checkbox" id="toggleMenu" class="hidden">
    <h1 class="nav-logo-container">
        <img src="assets/img/logo/logo-full.png" alt="Abo El-Mahasen Sengab" class="nav-logo">
    </h1>
    <label for="toggleMenu" class="nav-toggle-label" id="displayMenuLabel">&#9776;</label>
    <label for="toggleMenu" class="nav-toggle-label" id="hideMenuLabel">&#10006;</label>
    <div class="nav-menu">
        <ul class="nav-menu-links">
            <li class="nav-menu-link"><a href="#">Home</a></li>
            <li class="nav-menu-link dropdown">
                <a href="#">Admission</a>
                <ul class="dropdown-content">
                    <li class="dropdown-link"><a href="#">Why AEMS?</a></li>
                    <li class="dropdown-link"><a href="#">Admission Requirements</a></li>
                    <li class="dropdown-link"><a href="#">Required Documents</a></li>
                    <li class="dropdown-link"><a href="#">Online Application Form</a></li>
                    <li class="dropdown-link"><a href="#">Complain</a></li>
                    <li class="dropdown-link"><a href="#">Print Application Form</a></li>
                </ul>
            </li>
            <li class="nav-menu-link dropdown">
                <a href="#">Learning</a>
                <ul class="dropdown-content">
                    <li class="dropdown-link"><a href="#">What We Aim To</a></li>
                    <li class="dropdown-link"><a href="#">Frequently Asked Questions</a></li>
                    <li class="dropdown-link"><a href="#">Benchmarking</a></li>
                </ul>
            </li>
            <li class="nav-menu-link"><a href="#">Gallery</a></li>
            <li class="nav-menu-link"><a href="#about">About Us</a></li>
            <li class="nav-menu-link"><a href="#contact">Contact</a></li>
        </ul>

        <div class="nav-menu-btns">
            <a href="#" class="btn btn-white">Admission</a>
        </div>
    </div>
</nav>