<section id="stages">
    <input type="radio" name="stageRadio" id="kindergartenRadio" class="stage-radio" checked>
    <input type="radio" name="stageRadio" id="middleSchoolRadio" class="stage-radio">
    <input type="radio" name="stageRadio" id="highSchoolRadio" class="stage-radio">

    <div class="stage-radio-labels">
        <label for="kindergartenRadio" class="stage-radio-label"><span>Kindergarten</span></label>
        <label for="middleSchoolRadio" class="stage-radio-label"><span>Middle School</span></label>
        <label for="highSchoolRadio" class="stage-radio-label"><span>High School</span></label>
    </div>

    <article id="kindergarten">
        <h3>kindergarten</h3>
    </article>
    <article id="middleSchool">
        <h3>middleSchoolRadio</h3>
    </article>
    <article id="highSchool">
        <h3>highSchoolRadio</h3>
    </article>
</section>