<section id="stages">
    <input type="radio" name="stageRadio" id="kindergartenRadio" class="stage-radio" checked>
    <input type="radio" name="stageRadio" id="middleSchoolRadio" class="stage-radio">
    <input type="radio" name="stageRadio" id="highSchoolRadio" class="stage-radio">

    <div class="stage-radio-labels">
        <label for="kindergartenRadio" class="stage-radio-label"><span>Kindergarten</span></label>
        <label for="middleSchoolRadio" class="stage-radio-label"><span>Middle School</span></label>
        <label for="highSchoolRadio" class="stage-radio-label"><span>High School</span></label>
    </div>

    <article id="kindergarten" class="stage-tab">
        <div class="stage-imgs">
            <img src="assets/img/placeholder/2.jpg" alt="A kindergarten class">
            <img src="assets/img/placeholder/3.jpg" alt="Kindergarten children playing">
        </div>
        <div class="stage-content">
            <h4>AEMS Kindergarten</h4>
            <p>
                AEMS Schools provides your baby & toddler with a fun constructive learning environment offering your
                child an environment of no ranking and only supporting. We believe that each child is unique in their
                own way and when given the chance to be their true selves, they glow. We are very excited to welcome you
                and your kids on the premises
            </p>

            <h4>Bringing high-quality Finish early education to the world</h4>
            <p>
                AEMS Schools provides cutting-edge educational solutions for kindergartens and teachers based on
                Finland's famous education system. Our mission is to provide high-quality early education to as many
                children and families around the world as possible!
            </p>

            <h4>What is the AEMS approach?</h4>
            <p>
                Every child has the right to grow and learn in a stress-free environment that brings joy and equips them
                with the skills they need to prosper in the future. In HEI Schools we believe in recognizing each child
                holistically and aim to educate socially, emotionally and academically confident, capable children
            </p>
        </div>
    </article>
    <article id="middleSchool" class="stage-tab">
        <div class="stage-imgs">
            <img src="assets/img/placeholder/4.jpg" alt="A kindergarten class">
            <img src="assets/img/placeholder/6.jpg" alt="Kindergarten children playing">
        </div>
        <div class="stage-content">
            <h4>AEMS for primary and preparatory students</h4>
            <p>
                We are a school dedicated to providing quality education and extracurricular activities for teenagers.
                Our teachers are highly qualified professionals who specialize in helping young people reach their full
                potential.
            </p>

            <h4>Bringing high-quality Finish early education to the world</h4>
            <p>
                Our student support services team is always available should you need any assistance or advice regarding
                your child's academic journey at AEMS School .We look forward having your family join ours as part of
                this exciting educational experience!
            </p>

            <h4>What is the AEMS approach?</h4>
            <p>
                At AEMS, we have many facilities that can help our students excel academically and socially. We offer a
                wide range of classes from core subjects like Math, Science, English, Social Studies and more as well as
                electives such as Art or Music Appreciation that allow students to explore different interests. In
                addition, we also provide after-school programs like sports teams or clubs so our teens can stay active
                while having fun with friends outside of the classroom setting.
            </p>
        </div>
    </article>
    <article id="highSchool" class="stage-tab">
        <div class="stage-imgs">
            <img src="assets/img/placeholder/5.jpeg" alt="A kindergarten class">
            <img src="assets/img/placeholder/7.jpg" alt="Kindergarten children playing">
        </div>
        <div class="stage-content">
            <h4>AEMS High School</h4>
            <p>
                AEMS is the best place for high school students to get a quality education. With experienced and
                knowledgeable teachers, small class sizes, and a variety of extracurricular activities, AEMS provides an
                ideal learning environment for any student looking to excel in their studies.
            </p>

            <h4>Bringing high-quality Finish early education to the world</h4>
            <p>
                At AEMS we understand that each student has different needs when it comes to learning. Our faculty works
                hard to ensure every individual receives the attention they need in order for them to reach their full
                potential. We offer extra help sessions with our teachers as well as tutoring services so that no one
                falls behind or feels overwhelmed by course material.
            </p>

            <h4>What is the AEMS approach?</h4>
            <p>
                We also provide many opportunities outside of academics at AEMS including clubs and sports teams which
                allow students to explore new interests while developing important skills like teamwork, communication,
                problem-solving abilities and more! Parents can rest assured knowing that their children are receiving
                an excellent education from dedicated professionals who truly care about fostering success both inside
                and outside of the classroom walls here at AEMS!
            </p>
        </div>
    </article>
</section>