<section id="about">
    <article class="about-article" id="whoAreWe">
        <div class="about-article-body">
            <h3 class="about-article-title">Who are we?</h3>
            <h4 class="about-article-subtitle">
                Abo Elmahasen Sengab Language School (AEMS) are governmental Egyptian school that are co-founded by
                government funds.
            </h4>
            <p>
                which started our activity in 2003 to provide an international educational service in return for reduced
                annual fees compared to same kind of schools. . The schools are managed by the Misr Foundation for
                Educational Administration, and it is supervised by the International AEMS Certificate Unit of the
                Ministry of Education in partnership with the International Examinations Authority at the British
                University of Cambridge, which provides technical support to schools and accredits their certificates
                abroad.
            </p>
        </div>
        <div class="about-article-img">
            <img src="assets/img/placeholder/8.jpg" alt="Students discussing">
        </div>
    </article>
    <article class="about-article" id="visionAndMission">
        <div class="about-article-body">
            <h3 class="about-article-title">Vision and Mission</h3>
            <h4 class="about-article-subtitle">
                AEMS Vision
            </h4>
            <p>
                To play a leading role in transforming teaching & learning culture through providing innovative
                cutting-edge pedagogical approaches and use of partnerships and technology.
            </p>
            <h4 class="about-article-subtitle">
                AEMS Mission
            </h4>
            <p>
                To offer a competitive, quality education that prepares cultured, resilient, technologically empowered,
                global citizens capable of challenging the future for affordable fees.
            </p>
        </div>
        <div class="about-article-img">
            <img src="assets/img/placeholder/9.jpg" alt="Students discussing">
        </div>
    </article>
</section>