<div id="navComponent" class="transparent" #navComponent><app-nav></app-nav></div>
<header id="landingHeader">
    <div class="header-container">
        <div class="header-logo text-white" [inlineSVG]="'assets/img/logo/icon.svg'"></div>
        <div class="header-body">
            <h2 class="header-title">Learners Today, <br> Leaders Tomorrow.</h2>
            <p class="header-description">The best school which is fun, supportive and inspirational environments for young enquiring minds.</p>

            <div class="header-btns">
                <a href="#" class="btn btn-white">Apply Now!</a>
                <a href="#" class="btn btn-white-outline">About AEMS</a>
            </div>
        </div>
    </div>
</header>