@import './variables';

html {
    font-size: calc(13px + (16 - 13) * ((100vw - 214px) / (1400 - 214)));
}

body {
    color: $primary-color;
    font-family: $font-family;
}

*:focus {
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
    outline: 0;
}

#navComponent {
    position: fixed;
    top: 0;
    transition: background-color 0.4s;
    background-color: $primary-color;

    &.transparent {
        position: fixed;
        background-color: #FFF0;

        &:has(#toggleMenu:checked) {
            background-color: $primary-color;
        }
    }
}

.bg-primary {
    background-color: $primary-color;
}

.bg-white {
    background-color: #FFF;
}

.text-primary {
    color: $primary-color;
    fill: $primary-color;
}

.text-white {
    color: #FFF;
    fill: #FFF;
}

.btn {
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: background-color 0.4s;
}

.btn-primary {
    background-color: $primary-color;
    color: #FFF !important;
    fill: #FFF;

    &:hover,
    &:focus {
        background-color: darken($primary-color, 10%);
    }
}

.btn-white {
    background-color: #FFF;
    color: $primary-color !important;
    fill: $primary-color;

    &:hover,
    &:focus {
        background-color: darken(#FFF, 10%);
    }
}

.hidden {
    display: none;
}