<footer id="footer">
    <div class="footer-content">
        <div class="footer-logo" [inlineSVG]="'assets/img/logo/icon.svg'"></div>
        <section id="contact">
            <h3>Contact</h3>
            <p>
                Mit Mohsen Road, Mit Ghamr<br>
                Dakahlia<br>
                Egypt<br>
                ZIP Code: 35616<br>
                Phone: <a href="tel:+20504969944">(+20) 50 4969944</a><br>
                Email: <a href="mailto:abouelmhasensingab@yahoo.com">abouelmhasensingab@yahoo.com</a><br>
                <a href="#">Join our Facebook Group</a>
            </p>
        </section>
        <section id="quickLinks">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Why AEMS?</a></li>
                <li><a href="#">Aims and Values</a></li>
                <li><a href="#">Learning</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Admission</a></li>
                <li><a href="#">Kindergarten</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </section>
    </div>
    <div class="footer-credit">
        AEMS&copy; All Rights Reserved.<br>Designed by Seif Ahmed - Implemented By Seif El-Din Sweilam
    </div>
</footer>